/* ranger097 */
@import "../../.cache/wal/colors-waybar.css";
@import "../../.cache/wal/colors-waybar-rgba.css";

window#waybar {
background: linear-gradient(rgba(0,0,0,1));
border-top: 1px solid @color11;
}

#wireplumber,
#network,
#bluetooth,
#custom-nixos,
#custom-themes,
#custom-spacerRight,
#custom-spacerLeft,
#custom-power,
#custom-VacuumTube,
#custom-ProtonVpn,
#custom-code,
#custom-ghostty,
#custom-steam,
#custom-firefox, 
#custom-discord,
#custom-qmmp,
#custom-blender,
#custom-dolphin,
#custom-volume {
padding-top: 5px;
padding-bottom: 5px;
margin-top: 6px;
margin-bottom: 5px;
margin-left: 5px;
margin-right: 5px;
border: 0px solid @color5;
border-radius: 100px;
font-family: Maple Mono NF;
font-size: 12px;
font-weight: 500;
background: @color0;
color: @color10;
box-shadow: none;
}

#wireplumber {
padding-left: 15px;
padding-right: 15px;
}

#network {
padding-left: 15px;
padding-right: 15px;
}

#bluetooth {
padding-left: 15px;
padding-right: 15px;
margin-right: 10px;
}

#custom-qmmp {
padding-left: 15px;
padding-right: 15px;
}

#custom-power {
padding-left: 15px;
padding-right: 15px;
margin-left: 10px;

}


#custom-themes {
padding-left: 15px;
padding-right: 15px;
}

#custom-code {
padding-left: 15px;
padding-right: 15px;
}

#custom-ghostty {
padding-left: 15px;
padding-right: 15px;
}

#custom-steam {
padding-left: 10px;
padding-right: 5px;
}

#custom-firefox {
padding-left: 10px;
padding-right: 5px;
}

#custom-discord {
padding-left: 8px;
padding-right: 7px;
}

#custom-blender {
padding-left: 9px;
padding-right: 6px;
}

#custom-dolphin {
padding-left: 10px;
padding-right: 5px;
}

#custom-volume {
padding-left: 15px;
padding-right: 15px;
}

#wireplumber:hover,
#network:hover,
#bluetooth:hover,
#custom-nixos:hover,
#custom-themes:hover,
#custom-power:hover,
#custom-VacuumTube:hover,
#custom-ProtonVpn:hover,
#custom-code:hover,
#custom-ghostty:hover,
#custom-steam:hover,
#custom-firefox:hover,
#custom-discord:hover,
#custom-qmmp:hover,
#custom-blender:hover,
#custom-dolphin:hover,
#custom-volume:hover {
color: @color3;
background: @waybar-bg;
}

#custom-spacerRight {
border-radius: 0px 0px 0px 0px;
background: linear-gradient(rgba(0,0,0,1));
padding-right:0px;
margin-left:0px;
}

#custom-spacerLeft {
border-radius: 0px 0px 0px 0px;
background: linear-gradient(rgba(0,0,0,1));
padding-left:0px;
margin-left:0px;
}

#custom-volume {
margin-right: 5px;
}
