/* ranger097 */
@import "../../.cache/wal/colors-waybar.css";
@import "../../.cache/wal/colors-waybar-rgba.css";

window#waybar {
background: linear-gradient(rgba(0,0,0,1));
border-top: 1px solid @color13;
}

#wireplumber,
#network,
#bluetooth,
#custom-nixos,
#custom-themes,
#custom-power,
#custom-VacuumTube,
#custom-ProtonVpn,
#custom-code,
#custom-ghostty,
#custom-steam,
#custom-firefox, 
#custom-discord,
#custom-qmmp,
#custom-blender,
#custom-dolphin,
#custom-volume {
padding-top: 4px;
padding-bottom: 4px;
margin-top: 9px;
margin-bottom: 7px;
margin-right: 7px;
border: 0px solid @color5;
border-radius: 10px;
font-family: Maple Mono NF;
font-size: 12px;
font-weight: 500;
background: @waybar-bg;
color: @accent-color;
box-shadow: none;
padding-left: 10px;
padding-right: 10px;
}

#bluetooth {
margin-right: 7px;
}

#custom-power {
margin-left: 7px;
}

#wireplumber:hover,
#network:hover,
#bluetooth:hover,
#custom-nixos:hover,
#custom-themes:hover,
#custom-power:hover,
#custom-VacuumTube:hover,
#custom-ProtonVpn:hover,
#custom-code:hover,
#custom-ghostty:hover,
#custom-steam:hover,
#custom-firefox:hover,
#custom-discord:hover,
#custom-qmmp:hover,
#custom-blender:hover,
#custom-dolphin:hover,
#custom-volume:hover {
color: @color10;
background: @color0;
}

#custom-volume {
margin-right: 5px;
}
