/* ranger097 */
@import url("/home/ranger/.cache/wal/colors-waybar.css");

window#waybar {
background-color: @color0;
border-top: 1px solid #000000;
border-radius: 0px;
}

#custom-button1,
#custom-button2,
#custom-button3,
#custom-button4,
#custom-button5,
#custom-button6,
#custom-button7,
#custom-button8,
#custom-button9,
#custom-button10 {
padding-top: 3px;
padding-bottom: 3px;
margin: 0px;
font-family: GeistMono NF;
font-size: 13px;
font-weight: 400;
transition: all 0.4s ease;
padding-right: 5px;
padding-left: 5px;
color: @color4;
margin-bottom: 3px;
margin-top: 4px;
}


#mpris,
#cpu,
#memory,
#battery,
#clock,
#pulseaudio,
#bluetooth,
#network,
#custom-power,
#custom-themes,
#volume {
padding-top: 3px;
padding-bottom: 3px;
padding-left: 5px;
padding-right: 5px;
margin: 0px 1px 0px 0px;
font-family: GeistMono NF;
font-size: 14px;
font-weight: 300;
color: @foreground;
border-radius: 100px;
margin-bottom: 3px;
margin-top: 4px;
}

#bluetooth {
}

#network {
}

#custom-power {
background-color: transparent;
}


#clock {
background-color: transparent;
}


#custom-button1,
#custom-button2,
#custom-button3,
#custom-button4,
#custom-button5,
#custom-button6,
#custom-button7,
#custom-button8,
#custom-button9,
#custom-button10,
#mpris,
#cpu,
#memory,
#battery,
#clock,
#pulseaudio,
#volume,
#bluetooth, 
#network,
#custom-power,
#custom-themes,
#clock {
text-shadow: -2px 2px 5px rgba(0,0,0,0.2);
color: @foreground;
border-radius: 0px;
}

#custom-button1,
#custom-button2,
#custom-button3,
#custom-button4,
#custom-button5,
#custom-button6,
#custom-button7,
#custom-button8,
#custom-button9,
#custom-button10 {
border-radius: 0px;
color: @color4;
}


#custom-power {
color: @color2;
}

#network {
color: @color5;
}

#bluetooth {
color: @color6;
}

#cpu {
color: @color4;
}

#memory {
color: @color2;
}

#pulseaudio {
color: @color5;
}

#clock {
color: @color6;
}

#battery {
color: @color4;
}
