/* ranger097 */

window#waybar {
background-color: rgba(0,0,0,0.5);
margin-right: 0px;
border: 1px solid #000000;
}

#custom-nix,
#custom-discord,
#custom-steam,
#custom-hyprlock,
#custom-ghostty,
#custom-firefox,
#custom-code,
#custom-power,
#workspaces button,
#clock,
#custom-vpn_ip,
#battery,
#custom-music {
padding-left: 2px;
padding-right: 2px;
padding-top: 0px;
padding-bottom: 0px;
margin-top: 4px;
margin-bottom: 0px;
margin-left: 10px;
margin-right:10px;
border-radius: 0px;
border: 0px solid #000000;
font-family: Maple Mono NF;
font-size: 12px;
font-weight: 700;
background: linear-gradient(90deg, rgba(0,0,0,0));
color:#808080;
text-shadow: -1px 1px 3px rgba(0,0,0,0.4);
}

#custom-music { 
padding-top: 5px;
padding-bottom: 5px;
padding-right:5px;
font-size: 17px;
margin-top: 0px;
text-shadow: -1px 1px 3px rgba(0,0,0,0.4);
}

#custom-power {
font-size: 16px;
padding-top:6px;
padding-right:3px;
padding-bottom:6px;
margin-bottom: 5px;
font-weight: 400;
margin-bottom: 10px;
text-shadow: -1px 1px 3px rgba(0,0,0,0.4);
}

#workspaces {
margin-top: 0px;
margin-bottom: 0px;
}

#clock {
padding-top: 5px;
padding-bottom: 5px;
font-weight: 400;
font-size: 14px;
}

#battery {
padding-top: 0px;
padding-bottom: 0px;
padding-right: 5px;
font-size: 14px;
text-shadow: -1px 1px 2px rgba(0,0,0,0.4);
}

#custom-code,
#custom-ghostty,
#custom-firefox,
#custom-nix,
#custom-steam,
#custom-discord,
#custom-hyprlock {
background: linear-gradient(90deg ,rgba(0,0,0,0));
color:rgba(200,60,60,1);
color:#808080;
}

#custom-code {
margin-top: 20px;
padding-top: 5px;
padding-bottom: 5px;
padding-right:8px;
font-size: 16px;
}

#custom-ghostty {
padding-top: 5px;
padding-bottom: 5px;
padding-right:5px;
font-size: 16px;
}

#custom-firefox {
padding-top: 5px;
padding-bottom: 5px;
padding-right:8px;
font-size: 16px;
}

#custom-nix {
padding-top: 5px;
padding-bottom: 5px;
padding-right:10px;
font-size: 16px;
}

#custom-steam {
padding-top: 5px;
padding-bottom: 5px;
padding-left:6px;
font-size: 16px;
}

#custom-discord {
padding-top: 5px;
padding-bottom: 5px;
padding-right:0px;
font-size: 16px;
}

#custom-hyprlock {
padding-top: 5px;
padding-bottom: 5px;
padding-right:5px;
font-size: 16px;
margin-bottom: 0px;
}

#custom-dna {
padding-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
font-size: 40px;
color: rgba(200,70,70,0.5);
color: #2c2c2c;
margin-top: -10px;
margin-bottom: -10px;
text-shadow: 0px 0px 2px rgba(255,70,70,0);
}

#workspaces{
margin-top:10px;
margin-bottom:60px;
}

#custom-nix:hover,
#custom-discord:hover,
#custom-steam:hover,
#custom-hyprlock:hover,
#custom-ghostty:hover,
#custom-firefox:hover,
#custom-code:hover,
#custom-power:hover,
#workspaces button:hover,
#clock:hover,
#custom-vpn_ip:hover,
#battery:hover,
#custom-music:hover {
color: rgba(200,60,60,1);
background: linear-gradient(90deg ,rgba(0,0,0,0));
}
#workspaces button{
margin-top:5px;
}


#workspaces:hover { background: linear-gradient(rgba(0,0,0,0)); color: #000000; }
#workspaces button:hover { background: linear-gradient(rgba(0,0,0,0)); color: rgba(200,60,60,1); border:0px solid #000000; }
#workspaces button.active { background: linear-gradient(rgba(0,0,0,0));
color: rgba(200,60,60,1); text-shadow: -1px 1px 2px rgba(0,0,0,0.2); }
#workspaces button.urgent { background: linear-gradient(rgba(0,0,0,0)); color:rgba(0,0,0,0); }
#mode { background: linear-gradient(rgba(0,0,0,0)); }
#window { margin: 0 0px; }
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { margin-left: 0; }
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces { margin-right: 0; }
