/* ranger097 */
/*@import url("file:///home/ranger/.cache/wal/colors-waybar.css");*/

@import "../../.cache/wal/colors-waybar.css";

* {
border: none;
border-radius: 0;
padding: 0;
margin: 0;
min-height: 0;
}

window#waybar {
background: linear-gradient(0deg,rgba(50,10,10,0.0));
border-bottom: 0px solid #000000;
}

#window, #workspaces,
#clock, #custom-vpn_ip,
#battery, #mpris {
padding-left: 15px;
padding-right: 15px;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 10px;
margin-bottom: 10px;
font-family: Maple Mono NF;
font-size: 12px;
font-weight: 400;
background: @color8;
color: @color5;
margin-right: 10px;
border-radius: 10px;
border: 1px solid @color1;
box-shadow: -2px 3px 3px rgba(0,0,0,0.4);
text-shadow: none;
}

#window:hover, #mpris:hover,
#clock:hover, #custom-vpn_ip:hover,
#battery:hover, #workspaces:hover {
color: @color4;
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;    
transition: none;
text-shadow: none;
box-shadow: -2px 3px 3px rgba(0,0,0,0.4);
text-shadow: none;
}

#clock, #mpris,
#custom-vpn_ip { margin-right: 10px; }
#battery { margin-right: 10px; }
#window { margin-left: 10px; }
#mpris { margin-right: 0px; }
#custom-qmmp { margin-left: 0px; margin-right: 0px; }

#workspaces button {
padding: 0px;
margin: 0px;
padding-left: 2px;
padding-right: 2px;
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
}

#workspaces button:hover {
background: none; 
background-color: rgba(0,0,0,0); 
color: @color4; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
}

#workspaces button.active {
background: none; 
background-color: rgba(0,0,0,0);
color: @color6; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
text-shadow: none;
}

#workspaces button.urgent { 
background-color: rgba(0,0,0,0); 
color:#000000; 
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
text-shadow: none;
}

#mode { 
background-color: rgba(0,0,0,0); 
box-shadow: -2px 3px 3px rgba(0,0,0,0.4);
text-shadow: none;
}

#mode:hover {
background-color: rgba(0,0,0,0);
box-shadow: none;
text-shadow: none;
-gtk-icon-shadow: none;
transition: none;
box-shadow: -2px 3px 3px rgba(0,0,0,0.4);
text-shadow: none;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces { margin-left: 0px; }
/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces { margin-right: 0px; }
